<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>GET VS POST</h1>
		<fieldset>
			<legend>post</legend>
			<form action="/user" method="get">
				<input type="text" name="userName" placeholder="user name" />
				<br /><br /><br />
				<input type="number" name="userNumber" placeholder="number" />
				<br /><br /><br />
				<button type="submit">submit</button>
			</form>
		</fieldset>
	</body>
</html>
