<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CRUD : c->create</title>
	</head>
	<body>
		<fieldset>
			<form action="/insert" method="post">
				Name here :
				<input name="leader" type="text" placeholder="enter your name" />
				<br /><br /><br />
			
				message here :
				<input name="message" type="text" placeholder="enter your gender" />
                <br><br><br>
                <button type="submit">submit</button>
			</form>
		</fieldset>
	</body>
</html>
