<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>each element</title>
</head>
<body>
        <h1>city id : <%= result.id%></h1>
        <h1>city name : <%= result.city%></h1>
        <h1>message : <%= result.message%></h1>
</body>
</html>