<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD : C-> create operation</title>
</head>
<body>
    <fieldset>
        <label for=""><h2>input form </h2></label>
        <form action="/home/form" method="post">
            <input type="text" placeholder="enter your city name" name="city"/>
            <br><br><br>
            <input type="text" placeholder="enter your message" name="message">
            <br><br><br>
            <button type="submit">add</button>
        </form>
    </fieldset>
</body>
</html>