<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>each id</title>
</head>
<body>
    <%for(let i of searchid){%>
        <h2> ID : <%=i.id%></h2>
        <h3> Name : <%=i.leader%></h3>
        <h4> Message : <%=i.message%></h24>
    <%}%>
</body>
</html>